# Authentication
tenancy_ocid         = "<tenancy_ocid>"
user_ocid            = "<user_ocid>"
fingerprint          = "<fingerprint>"
private_key_path     = "<private_key_path>"

# Region
region = "<region>"

# Compartment
compartment_ocid = "<compartment_ocid>"

